.body_login {
    background-color: #1a1a1a;
  }

.bg-corus-sidebar {
    background-color: #1a1a1a;
  }


.nombre_app {
    color: white;
    text-decoration: none;
    font-size: 30px;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
  }

.nombre_app:hover {
    color: white;
    text-decoration: none;
    font-size: 30px;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
  }