Django
django-crispy-forms==1.14.0
mssql-django
python-decouple
whitenoise
O365
pyinstaller #pyinstaller --onefile --icon C:\\telectronic\\despachador_correos\\daemon\\logo.ico .\servicio_leer_correo.py