{% extends 'base.html' %}
{% load static %}
{% block contenido%}
<!-- Page Heading -->
<div class="row">
    <div class="col-xl-6 col-md-6 mb-4" id="llamadas_ingresadas">
        <div class="card border-left-primary shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-primary mb-1">EJECUTIVOS ASIGNADOS</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">
                            {{ejecutivos}}
                        </div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-users-cog fa-2x text-gray-300"></i>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xl-6 col-md-6 mb-4" id="llamadas_contestadas">
        <div class="card border-left-success shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-primary mb-1">CORREOS DESPACHADOS HOY</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">
                            {{correos_despachados}}
                        </div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-phone fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xl-12 col-lg-12">
        <div class="card shadow mb-4">
            <!-- Card Header - Dropdown -->
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Chart</h6>
            </div>
            <!-- Card Body -->
            <div class="card-body">
                <div style="width: 100%;">
                    <canvas id="chartFechas"></canvas>
                </div>
            </div>
        </div>
    </div>

</div>
{% endblock contenido %}
{% block javascript %}

<script>
    $(document).ready(function () {

        var ctx = document.getElementById('chartFechas').getContext('2d');
        var datos_correos = '{{registros_por_dia|safe}}';

        var chart = new Chart(ctx, {
            // The type of chart we want to create
            type: 'bar',
            // use datos_correos
            data: {
                labels: JSON.parse(datos_correos).map(function (e) {
                    return e.dia;
                }),
                datasets: [{
                    label: 'Correos despachados por dia',
                    backgroundColor: 'rgb(255, 99, 132)',
                    borderColor: 'rgb(255, 99, 132)',
                    data: JSON.parse(datos_correos).map(function (e) {
                        return e.cantidad;
                    }),
                }]
            },
        });
    });
</script>

{% endblock javascript %}