{% load static %}
<!-- Sidebar -->

<nav class="navbar-nav fixed-top t-6 sidebar sidebar-light accordion fs-3 text" id="accordionSidebar">
    <ul>

        <!-- Sidebar - Brand -->
        <a class="sidebar-brand d-flex align-items-center justify-content-center m-1" href="/">
            <div class="sidebar-brand-icon ">
            </div>
        </a>

        <!-- Divider -->
        <hr class="sidebar-divider my-0">

        <!-- Nav Item - Dashboard -->
        <li id="nav-dashboard" class="nav-item" style="list-style-type: none">
            <a class="nav-link" href="/">
                
                <i class="fas fa-fw fa-tachometer-alt" style="color:#6f45a9"></i>
            
                <span>Dashboard</span></a>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider">

        <!-- Heading -->
        <div class="sidebar-heading">
            General
            
        </div>

        <!-- Nav Item - Pages Collapse Menu -->
        {% if user.is_superuser  %}
        <li class="nav-item" style="list-style-type: none">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-bs-toggle="collapse"
                data-bs-target="#collapseSA" aria-expanded="false" aria-controls="collapseSA">
                <i class="fas fa-user-circle" style="color:#6f45a9"></i>
                <span>Super-Admin</span>
            </a>
            <div id="collapseSA" class="accordion-collapse collapse" aria-labelledby="headingOne"
                data-bs-parent="#accordionSidebar">
                <div class="bg-white py-2 font-weight-bold collapse-inner rounded">
                    <a id="nav-usuarios" class="collapse-item font-weight-bold"
                        href="{% url 'usuarios:index' %}">Usuarios</a>

                    {% comment %} <a id="nav-servicios" class="collapse-item font-weight-bold"
                        href="{% url 'servicios:index' %}">Estado
                        Servicios</a> {% endcomment %}

                </div>
            </div>
        </li>
        {% endif %}


        <!-- Sidebar Toggler (Sidebar) -->
        <hr class="sidebar-divider d-none d-md-block">

        <div class="text-center d-none d-md-inline">
            <button class="rounded-circle border-0" id="sidebarToggle"></button>
        </div>
    </ul>
</nav>
    {% block javascript %}

    {% endblock javascript %}