{% extends 'base.html' %}
{% load static %}
{% block contenido%}
{% load crispy_forms_tags %}

<!-- Page Heading -->

      <div class="container">
        <div class="row border">
          <div class="col">
            <form enctype="multipart/form-data" method="POST" class="">
                <h2 class="text-center">{{legend}}</h2>
                {% if messages %}
                {% for message in messages %}
                <div class="alert alert-{{message.tags}} alert-dismissible" role="alert">{{message}}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                {% endfor %}
                {% endif %}
                {% csrf_token %}
                {% crispy form %}
            </form>
          </div>
          
         <div class="col">
            <div class=" mt-3">
            
            
            </div>
         </div>

        </div>
      </div>      


<div class="modal fade" id="modal" tabindex="-1" notempty='not' aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog" notempty='not'>
        <div class="modal-content" notempty='not'>
            <div class="modal-header" notempty='not'>
                <h5 class="modal-title " id="modalLabel" notempty='not'>¿Desea Eliminar al siguiente
                    Usuario?:</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" notempty='not'>

            </div>
            <div class="modal-footer" notempty='not'>
                <button id="close" type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button id="delete" type="button" class="btn btn-danger">Eliminar</button>
            </div>
        </div>
    </div>
</div>
{% endblock contenido %}

{% block javascript %}
<script>
    $(".dataTable").on('click', '.open-modal', function () {
        $.ajax({
            type: "GET",
            url: $(this).attr("data-popup-url"),
            dataType: "json",
            success: function (data) {
                Datos =
                    "<p notempty='not'> ID: " + data['id'] +
                    "</p> <p notempty='not'> Nombre: " +
                    data['nombre'] + " " + data['apellido'] +
                    "</p> <p notempty='not'> Email: " +
                    data['email'] +
                    "</p>";
                $(".modal-body").append(Datos);
                $("#delete").click(function () {
                    window.location.href = "/usuarios/destroy/" + data["id"];
                })
            }
        });
    });
    $("#close").on("click", function () {
        $(".modal-body").empty();
    })

    $('body').click(function (e) {
        if ($(e.target).attr('notempty') != "not")
            $(".modal-body").empty();
    });
    //Select_multiple
    let $select = $('#select_asignados');
    $select.on('change', () => {
    let selecteds = [];

    // Buscamos los option seleccionados
    $select.children(':selected').each((idx, el) => {
    // Obtenemos los atributos que necesitamos
    selecteds.push({
      id: el.id,
      value: el.value
    });
  });
  
  //
  console.log(selecteds);
});
</script>


{% endblock javascript %}